* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #eaf0f7;
    font-size: medium;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: left;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    color: rgb(66, 109, 228);
}

nav, header, footer {
    width: 100%;
    padding: 15px;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    order: 1;
    background-color: rgb(151, 174, 238);
}

#nav {
    color: white;
    order: 2;
    background-color: rgb(66, 109, 228);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

div#first {
    background-color: rgb(151, 174, 238);
    width: 100%;
}

div#form{
    order: 3;
}

div#center {
    order: 4;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px;
}

img#logo {
    float: left;
    align-self: center;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.firsttable {
    table-layout: fixed;
    font-weight: solid;
    font-size: 16px;
}

.special {
    max-width: 490,4 px;
    border: 1px solid #000000;
    table-layout: auto;
    white-space: normal;
    margin-bottom: 20px;
    font-size: 14px;
}

.special th {
    font-weight: bold;
    padding: 8px 5px;
    border: 1px solid #000000;
}

.special td {
    padding: 8px 5px;
    border: 1px solid #000000;
    text-align: center;
}

.special tbody tr:nth-child(odd) {
    background-color: #6892c6;
}

.special tbody tr:nth-child(even) {
    background-color: #abc9ee;
}

.bld {
    font-weight: bold;
}

.forma{
    order: 5;
}

footer {
    order: 6;
    background-color: rgb(151, 174, 238);
    padding: 10px;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    header {
        gap: 15px;
        background-color: transparent;
    }
    
    #nav {
        order: 3;
        color: rgb(66, 109, 228);
        background-color: transparent;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    
    nav a {
        color: rgb(66, 109, 228);
    }
    
    div#center {
        order: 3;
        max-width: 960px;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    div#form{
        order: 4;
    }
    
    img#logo {
        width: 80px;
        height: 80px;
    }
    
    .firsttable {
        font-size: 20px;
    }
    
    .special {
        font-size: 16px;
    }
    
    .special th,
    .special td {
        padding: 12px 15px;
    }
}